@tailwind base;
@tailwind components;
@tailwind utilities;

font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans TC";
  src: url("../font/NotoSansTC-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* 英文 數字 */
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf") format("truetype");
  font-style: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Medium.ttf") format("truetype");
  font-style: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-SemiBold.ttf") format("truetype");
  font-style: 700;
}

@layer base {
  body {
    font-family:
      "Noto Sans TC",
      "Microsoft JhengHei",
      "Arial",
      "MyWebFont",
      sans-serif,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "spHelvetica Neue",
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji" !important;
  }
}
